<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}" media="print" onload="this.media='all'">

<footer>
  <div class="footer__content">
    <div class="address">
      <h3>Funiro.</h3>
      <p>
        400 University Drive Suite 200 Coral <br>
        Gables, <br>
        FL 33134 USA
      </p>
    </div>
    <div class="link">
      <p>Links</p>
      <ul>
        <li>Home</li>
        <li>Shop</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>

    <div class="help">
      <p>Help</p>
      <ul>
        <li>Payment Options</li>
        <li>Returns</li>
        <li>Privacy Policies</li>
      </ul>
    </div>

    <div class="newsletter">
      <p>Newsletter</p>
      <div>
        <input type="email" placeholder="Enter Your Email Address">
        <button>Subscribe</button>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>2023 furino. All rights reserved</p>
  </div>
</footer>
