all-products .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 32px;
}
all-products .show-more-button {
  margin: 20px auto;
  display: block;
  padding: 12px 78px;
  font-size: var(--font-base);
  border: 1px solid rgb(184, 142, 47);
  color: #b88e2fff;
  background-color: transparent;
  cursor: pointer;
}
